 .R7 {
  background-image: -moz-linear-gradient( 90deg, rgb(34,32,33) 0%, rgb(34,32,33) 45%, rgb(71,69,70) 70%, rgb(72,70,71) 88%, rgb(36,30,32) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(34,32,33) 0%, rgb(34,32,33) 45%, rgb(71,69,70) 70%, rgb(72,70,71) 88%, rgb(36,30,32) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(34,32,33) 0%, rgb(34,32,33) 45%, rgb(71,69,70) 70%, rgb(72,70,71) 88%, rgb(36,30,32) 100%); 
}
